.download {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  height: 100vh;
  background-color: #111218;
}

.header {
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.variants {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.variant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  color: #303030;
  background-color: #fafafa;
  border-radius: 12px;
  cursor: pointer;
}

.variant_logo {
  width: 50px;
  height: 50px;
}

.variant_header {
  width: 100%;
  text-align: center;
  font-size: 18px;
}