.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  color: #303030;
  background-color: rgba(250, 250, 250, 1);
  transition: .5s;
  &:hover {
    background-color: rgba(250, 250, 250, .9);
  }
}

.btn_text {
  font-family: 'TT Norms Pro';
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
}

.btn_icon {
  width: 30px;
  height: 30px;
}