.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
  height: 100vh;
  margin-top: 150px;
  gap: 50px;
}

.header {
  width: 100%;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}