.page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 150px;
  gap: 40px;
  padding-bottom: 100px;
}

.header {
  width: 100%;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}

.btn {
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  color: #fafafa;
  font-family: 'TT Norms Pro';
  font-size: 16px;
  background-color: #ff222200;
  outline: #fafafa solid 1px;
  cursor: pointer;
  transition: .5s;
  &:hover {
    background-color: #ff2222;
    outline: #ff2222 solid 1px;
  }
}