.files {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.header {
  width: 100%;
  margin: 0;
  font-weight: 400;
}

.files_container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.input_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.file_input {
  outline: #fafafa 1px solid;
  border-radius: 15px;
  padding: 20px;
  font-size: 18px;
  cursor: pointer;
}